// Helper

// Margin
.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

.mt-sm { margin-top: 2rem; }
.mt-md { margin-top: 3rem; }
.mt-lg { margin-top: 4rem; }
.mt-hg { margin-top: 8rem; }

.ml-sm { margin-left: 2rem; }
.ml-md { margin-left: 3rem; }
.ml-lg { margin-left: 4rem; }
.ml-hg { margin-left: 8rem; }

.mr-sm { margin-right: 2rem; }
.mr-md { margin-right: 3rem; }
.mr-lg { margin-right: 4rem; }
.mr-hg { margin-right: 8rem; }

// Padding
.pb-sm { padding-bottom: 2rem; }
.pb-md { padding-bottom: 3rem; }
.pb-lg { padding-bottom: 4rem; }
.pb-hg { padding-bottom: 8rem; }

.pt-sm { padding-top: 2rem; }
.pt-md { padding-top: 3rem; }
.pt-lg { padding-top: 4rem; }
.pt-hg { padding-top: 8rem; }

.pl-sm { padding-left: 2rem; }
.pl-md { padding-left: 3rem; }
.pl-lg { padding-left: 4rem; }
.pl-hg { padding-left: 8rem; }

.pr-sm { padding-right: 2rem; }
.pr-md { padding-right: 3rem; }
.pr-lg { padding-right: 4rem; }
.pr-hg { padding-right: 8rem; }